<!-- <blockquote id="qod-quote"></blockquote> -->
<footer class="footer">
    <p class="contact">
        My name is <a href="mailto:eric@eandjdesign.com">Eric Ritchey</a> and you can find me on
        <a href="http://github.com/ritcheyer/" title="See my Githubs" data-action="external">Github</a>, 
        <a href="https://bitbucket.org/ritcheyer/" title="See my Buckets" data-action="external">Bitbucket</a>, 
        <a href="http://twitter.com/ritcheyer/" title="Follow me" data-action="external">Twitter</a> and 
        <a href="http://linkedin.com/in/ericritchey/" title="Contact me" data-action="external">LinkedIn</a> 
        (a <a href="http://flickr.com/ritcheyer/" title="See my photos" data-action="external">few</a> 
        <a href="http://instagram.com/ritcheyer/" title="More photos" data-action="external">others</a> too).
    </p>
</footer>
