<nav class="site-nav">
    <a href="/">eric.ritchey.io</i></a>
    <ul class="me-everywhere">
        <li>
            <a href="mailto:eric@eandjdesign.com" title="Email me">
                <i class="icon-envelope"></i>
            </a>
        </li>
        <li>
            <a href="http://github.com/ritcheyer/" title="See my Githubs" target="_blank">
                <i class="icon-github-sign"></i>
            </a>
        </li>
        <li>
            <a href="https://bitbucket.org/ritcheyer/" title="See my Buckets" target="_blank">
                <i class="icon-bitbucket-sign"></i>
            </a>
        </li>
        <li>
            <a href="http://twitter.com/ritcheyer/" title="Follow me" target="_blank">
                <i class="icon-twitter-sign"></i>
            </a>
        </li>
        <li>
            <a href="http://linkedin.com/in/ericritchey/" title="Connect with me" target="_blank">
                <i class="icon-linkedin"></i>
            </a>
        </li>
    </ul>
</nav>
