/*****************************************************************************/
/* Mixins
/*****************************************************************************/
@import "compass";
@import "mixins";


/*****************************************************************************/
/* Common
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-size: small;
  text-align: center;
  font: 13.34px "Helvetica Neue", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
  font-family: 'Chunk';
  line-height: 1;
}
h2 {
  line-height: 1.4;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 0 #fff;
  color: darken(#8085C1, 20%);
}

.subtitle {
  font-size: 1.5rem;
  line-height: 1.5;
  border-bottom: 0;
}

p { margin: 0 0 1rem 0; }
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p { margin-bottom: 3rem; }

a {
  color: #8085C1;
  text-decoration: none;
  @include simple-transition(color);
  &:hover,
  &:visited {
    color: darken(#8085C1, 20%);
    @include simple-transition(color);
    text-decoration: none;
  }
}

.hide { display: none; }

.highlight {
  /*
    @banderson623, sorry, i loved your yellow so i stole it.. :c)
    Interested in seeing more of brian? http://bitbyteyum.com
  */
  background-color: rgb(255, 255, 237);
  display: inline-block;
  text-align: center;
}

/*****************************************************************************/
/* Home
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2rem;
  li {
    line-height: 1.75rem;
  }
  span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }
}

#home {
  text-align: center;
  margin: 5rem 0;
}
/*****************************************************************************/
/* Site
/*****************************************************************************/
.site {
  font-size: 130%;
  p {
    font-size: 110%;
  }
  ul, ol {
    margin-left: 1rem;
  }
  li {
    margin-bottom: .75rem;
  }
  text-align: left;
  max-width: 42rem;
  min-width: 320px;
  margin: 3rem auto;
  line-height: 1.5;
  .meta { color: #aaa; }
}

.header {
  text-align: center;
  a {
    font-weight: bold;
    text-decoration: none;
  }
  .title {
    display: block;

    font-size: 5rem;
    .resume & {
      font-size: 4rem;
    }
    line-height: 1.2;
    .site & {
      color: #a00;
      @include simple-transition(color);
      &:hover {
        color: darken(#a00, 5%);
        @include simple-transition(color);
      }
    }
    a {
      color: #a00;
      @include simple-transition(color);
      &:hover {
        color: darken(#a00, 5%);
        @include simple-transition(color);
      }
    }
  }
  .subtitle {
    margin-bottom: 0;
    color: rgb(102, 102, 102);
  }
}

.site-nav {
  /*! Yea, this graphic is from Basecamp. */
  background: url(https://basecamp.global.ssl.fastly.net/assets/wallpapers/paper-d58343f25c9bf8b2b0dcd72e25bf7644.jpg) repeat top left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: .96;
  padding: .25rem .5rem;
  
  border-bottom: 1px solid #ccc;
  box-shadow: inset 0 -1px 0 rgb(255, 255, 255);

  text-align: left;
  font-size: .8rem;
  .home & {
    padding: 0;
    border-top: 5px solid #8085C1;
    background-image: none;
    border-bottom: 0;
    box-shadow: 0 0 0 transparent;
  }

  @include simple-transition(opacity);

  a {
    text-shadow: 0 1px #fff;
    color: #585858;
    font-weight: normal;
    &:hover {
      color: darken(#585858, 10%);
      [class*="icon-"] {
        opacity: 1;

        @include simple-transition(opacity);
      }
    }
    [class*="icon-"] {
      opacity: .5;
      position: relative;
      top: 1px;
      font-size: .9rem;

      @include simple-transition(opacity);
    }
  }
  &:hover {
    opacity: 1;
    @include simple-transition(opacity);
  }

}

.footnotes {
  color: #444;
  font-size: .8rem;
  hr {
    height: 0;
    border: 0;
    border-top: 1px solid #999;
    box-shadow: 0 -1px 0 #fff;
  }
  p {
    margin-bottom: .25rem;
  }
  [rev="footnote"] {
    position: relative;
    top: 2px;
  }
}

.design-quote {
  margin: 5rem 0;
  text-align: center;
  .quote {
    margin: 0;
  }
}

.footer {
  text-transform: lowercase;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: .5rem 0;
  border-top: 1px solid #fff;
  background-color: #f3f3f3;
  box-shadow: 0 -1px 0 #ccc;
  color: #666;
  text-align: center;
  font-size: 110%;
  opacity: .95;
  @include simple-transition(opacity);
  &:hover {
    opacity: 1;
    @include simple-transition(opacity);
  }
  .contact {
    margin: 0 auto;
  }

  //  .social-icons {
  //    position: relative;
  //    a {
  //      color: #484E93;
  //      @include simple-transition(color);
  //      &:first-child {
  //        margin: 0 1rem;
  //      }
  //      &:hover {
  //        @include simple-transition(color);
  //        color: darken(#484E93, 20%);
  //        text-decoration: none;
  //      }
  //      [class^="icon-"]:before,
  //      [class*=" icon-"]:before {
  //        position: relative;
  //        left: 4px;
  //      }
  //    }
  //    .hover-over {
  //      position: absolute;
  //      bottom: -2rem;
  //      left: -1.8rem;
  //      font-size: .8rem;
  //      line-height: 1.2;
  //      text-align: center;
  //      background-color: rgb(216, 216, 216);
  //      border: 1px solid rgb(187, 187, 187);
  //      border-radius: .25rem;
  //      padding: .4rem;
  //      width: 6.5rem;
  //      text-shadow: 0 1px 1px #fff;
  //      box-shadow: inset 0 0 5px rgba(204, 204, 204,.05);
  //      &:after {
  //        position: absolute;
  //        top: -5px;
  //        left: -webkit-calc(50% - 3px);
  //        left:         calc(50% - 3px);
  //        content: " ";
  //        width: 0; 
  //        height: 0; 
  //        border-left: 5px solid transparent;
  //        border-right: 5px solid transparent;
  //        border-bottom: 5px solid rgb(216, 216, 216);
  //      }
  //      &:before {
  //        content: " ";
  //        position: absolute;
  //        top: -6px;
  //        left: -webkit-calc(50% - 3px);
  //        left:         calc(50% - 3px);
  //        width: 0; 
  //        height: 0; 
  //        border-left: 5px solid transparent;
  //        border-right: 5px solid transparent;
  //        border-bottom: 5px solid rgb(187, 187, 187);
  //      }
  //    }
  //  }
  .rss {
    margin-top: 1.1rem;
    margin-right: -.2rem;
    float: right;
    img {
      border: 0;
    }
  }
}

.typekit-badge { display: none !important; }
/*****************************************************************************/
/* Posts
/*****************************************************************************/
/* standard */
.post {
  pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4rem;
    code {
      border: none;
    }
  }
  ul,
  ol {
    margin-left: 1.35rem;
  }
  code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2rem;
  }
  /* terminal */
  pre {
    &.terminal {
      border: 1px solid #000;
      background-color: #333;
      color: #FFF;
      code {
        background-color: #333;
      }
    }
  }
}




/*****************************************************************************/
/* Media Queries
/*****************************************************************************/
@media (max-width: 45rem) {
  .site { margin: 3rem 1rem; }
}
@media (max-width: 675px) {
  .header .title { line-height: 1; }
}
@media (max-width: 550px) {
  .header .title { font-size: 4rem; }
  .site p,
  .site li { font-size: 100%; }
}
@media (max-width: 400px) {
  .header .title { font-size: 3rem; }
  h2 { font-size: 1.5rem; text-align: center; }
  .site p,
  .site li { font-size: 90%; }
  .footnotes {
    font-size: 1rem;
    ol {
      padding: 1rem;
    }
  }
}

