/*! ------------------------------------------------------

MUST HAVES:
Figure A
------------------------------------------------------
- 1. Focusing on an input removes the label and allows text entry.

2. Validation occurs on To and Amount inputs. Entering a correct
   value shows success while entering an invalid value shows an error.

- 3. Changing the amount updates the value with the correct currency formatting.
    Sample data:
      • $1,234.56 (USD)
      • €1.234,56 (EUR)
      • ¥1234.56 (JPY)

- 4. Selecting USD allows the user to modify the currency.
    Sample data:
      • USD
      • EUR
      • JPY

5. Selecting a value for What's this payment for? highlights the selection.

- 6. Selecting CLEAR returns the form to it's original state.

- 7. Selecting NEXT moves to Figure B.


Figure B
------------------------------------------------------
- 1. Displays a loading icon.
- 2. Refreshes to Figure C when available.

Figure C
------------------------------------------------------
- 1. Selecting START OVER returns to Figure A.

------------------------------------------------------- */
@import "compass";

@import "lib/paypal-project/reset";
@import "lib/paypal-project/_messaging";
@import "lib/paypal-project/_buttons";
@import "lib/paypal-project/_helpers";
@import "lib/paypal-project/_variables";

.paypal {
  height: 740px;
  margin-top: 1rem;
  position: relative;
  overflow: hidden;
  z-index: 50;
  border: 1px solid #333;
  background: #f5f5f5 url('/assets/img/paypal-bg.jpg') repeat top left;
  text-shadow: 0 1px 0 #fff;
  color: #3f3f3f;
  h1, h2, h3, h4, h5, h6 {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: lighter;
  }

  a {
    font-weight: bold;
    color: #0079C1;
    &.btn-primary {
      color: #fff;
    }
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    
    background-color: rgba(0,0,0,.5);
    z-index: 2;
    
    text-align: center;
    
    // necessary for vertical centering w/o resorting to dispay: table and such
    #spinner {
      margin: 0;
      padding: 0;
      display: block;
      position: absolute;
      top: 30%;
      left: 50%;
    }

  }

  .header,
  .footer {

    // snagged from paypal!
    background: url(https://www.paypalobjects.com/webstatic/i/sparta/scr/scr_gray-bkgd.png) repeat #6E6D71;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    color: #fff;
    text-shadow: 0 1px 0 #555;
    
  }

  .header {
    width: -webkit-calc(100% - 2rem);
    width:         calc(100% - 2rem);
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #5A595D;

    -webkit-box-shadow: inset 0 -5px 5px #5A595D;
       -moz-box-shadow: inset 0 -5px 5px #5a595d;
            box-shadow: inset 0 -5px 5px #5A595D;
  }

  .footer {
    width: -webkit-calc(100% - 3rem);
    width:         calc(100% - 3rem);
    bottom: 0;
    padding: 1rem 1.5rem;
    border-top: 1px solid #5A595D;

    -webkit-box-shadow: inset 0 5px 5px #5A595D;
       -moz-box-shadow: inset 0 5px 5px #5a595d;
            box-shadow: inset 0 5px 5px #5A595D;

    .btn-primary {
      width: -webkit-calc(100% - 8.5rem);
      width:         calc(100% - 8.5rem);
      padding: 3% 15px;
      float: right;
      .paypal-submit & {
        width: -webkit-calc(100% - 2rem);
        width:         calc(100% - 2rem);
        float: none;
        display: block;
      }
    }
    .btn-secondary {
      float: left;
      width: 3rem;
      padding: 3% 15px;
    }
  }

  .body {
    padding: 1rem 1.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: -webkit-calc(800px - 15.3rem);
    height:         calc(800px - 15.3rem);
    position: relative;
    top: 3.3rem;
    .paypal-submit & {
      text-align: center;
      padding-top: 5rem;
      font-size: 120%;
      height: -webkit-calc(800px - 19.3rem);
      height:         calc(800px - 19.3rem);
      
      
      .payment-message {
        border: 0;
        position: relative;
        width: -webkit-calc(100% - 6rem);
        width:         calc(100% - 6rem);
        display: block;
        padding: .5rem 2rem;
        margin: 0 auto;
        resize: none;
        quotes: "\201C""\201D""\2018""\2019";
        text-align: left;
        z-index: 3;

        // maintains line breaks
        word-wrap: break-word;      // Internet Explorer 5.5+
        white-space: -moz-pre-wrap; // Mozilla, since 1999
        white-space:   -o-pre-wrap; // Opera 7
        white-space:     -pre-wrap; // Opera 4-6
        white-space:      pre-wrap; // css3

        &:before,&:after {
          position: absolute;
          font-size: 7rem;
          line-height: 0;
          color: rgba(255,255,255,.25);
          z-index: -1;
          opacity: .5;
        }
        &:before {
          left: -1rem;
          top: 3.2rem;
          content: open-quote;
        }
        &:after {
          right: -1rem;
          bottom: 0;
          content: close-quote;
        }
      }
    }
  }

  .input-contain {
    margin-bottom: 2rem;
    padding: 1rem;
    position: relative;
    border: 1px solid rgba(145, 145, 145, 0.5);
    border-radius: $border-radius-value;
    background-color: #f5f5f5;
    box-shadow: inset 0 0 3px rgba(185, 185, 185, 0.75);

    -webkit-transition: all .2s ease-in-out; // need to keep around until 7.0
            transition: all .2s ease-in-out;

    .currency-type {
      [class*="icon-"] {
        position: static;
        top: auto;
        right: auto;
      }
    }

    [class*="icon-"] {
      position: absolute;
      top: 1rem;
      right: .8rem;
    }
    
    .icon-ok-sign,
    .icon-warning-sign {
      font-size: 2rem;
    }
    .supporting-text {
      font-size: small;
      position: absolute;
      bottom: -1.3rem;
      right: 1rem;
      color: rgb(145, 145, 145);
      font-style: italic;
      opacity: 0;

      -webkit-transition: opacity .2s ease-in-out; // need to keep around until 7.0
              transition: opacity .2s ease-in-out;
    }

    #currency-type {
      position: relative;
      top: -2px;
    }
    
    [name="send-money-to"] {
      width: -webkit-calc(100% - 70px);
      width:         calc(100% - 70px);
    }
    
    [name="amount-to-send"] {
      width: -webkit-calc(100% - 160px);
      width:         calc(100% - 160px);
      padding-left: 0;
    }

    &.active {
      
      border: 1px solid #57A9D9;
      background-color: #fff;
      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), 0 0 5px rgba(58, 144, 194, 0.6), 0 2px 2px rgba(0, 0, 0, 0.2) inset;
      -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), 0 0 5px rgba(58, 144, 194, 0.6), 0 2px 2px rgba(0, 0, 0, 0.2) inset;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), 0 0 5px rgba(58, 144, 194, 0.6), 0 2px 2px rgba(0, 0, 0, 0.2) inset;

      -webkit-transition: all .2s ease-in-out; // need to keep around until 7.0
              transition: all .2s ease-in-out;

      input,
      textarea,
      .add-on {
        background-color: #fff;
        -webkit-transition: all .2s ease-in-out; // need to keep around until 7.0
                transition: all .2s ease-in-out;
      }
      
      .supporting-text {
        opacity: 1;
        -webkit-transition: opactiy .2s ease-in-out; // need to keep around until 7.0
                transition: opactiy .2s ease-in-out;
      }
    }

  }

  .message {

    // form textarea
    [for="payment-message"] {
      display: none;
    }
    [name="payment-message"] {
      width: -webkit-calc(100% - 1rem);
      width:         calc(100% - 1rem);
      min-height: 6rem;
      resize: none;   // sorry people who want to resize the textarea.. 
      overflow: auto; // remove scrollbars in IE (blerrrg that browser...)

      vertical-align: top;
      -webkit-transition: all .2s ease-in-out; // need to keep around until 7.0
              transition: all .2s ease-in-out;
      
      &:focus + .msg-counter {
        opacity: 1;
        -webkit-transition: all .2s ease-in-out; // need to keep around until 7.0
                transition: all .2s ease-in-out;
      }
    }
    
    + .separator {
      border: 0;
      border-top: 1px solid rgba(145, 145, 145, 0.5);
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      height: 0;
      margin: 2rem 2rem 0;
      padding: 0;
    }
  }
  
  .form-warning {}
  
  .payment-type,
  .payment-choice {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .payment-type {
    border-radius: $border-radius-value;

    border: 1px solid rgba(145, 145, 145, 0.5);
    box-shadow: inset 0 0 3px rgba(185, 185, 185, 0.75);
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
  }
  .payment-recipient {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;

    border: 0;
    box-shadow: 0 0 0 transparent;
  }

  .payment-choice {
    input { display: none; }
    padding: 0.75rem 1rem;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    
    &:hover {
      background-color: rgba(255, 255, 255, .4);
    }

 
    -webkit-transition: all .2s; // need to keep around until 7.0
            transition: all .2s;
 
    [class*="icon-"] {
      display: none;
      top: 1rem;

      -webkit-transition: display .2s ease-in-out; // need to keep around until 7.0
              transition: display .2s ease-in-out;

    }

    &:first-child {
      border-bottom: 1px solid rgba(145, 145, 145, 0.5);
      border-top-left-radius: $border-radius-value;
      border-top-right-radius: $border-radius-value;
    }
    &:last-child {
      border-bottom-left-radius: $border-radius-value;
      border-bottom-right-radius: $border-radius-value;
    }
    &.selected {
      background-color: #fff;
      [class*="icon-"] {
        display: block;

        -webkit-transition: display .2s ease-in-out; // need to keep around until 7.0
                transition: display .2s ease-in-out;

      }
    }
  }
}