/*****************************************************************************/
/* Mixins
/*****************************************************************************/
/*
 * Mixin Library
*/
/*****************************************************************************/
/* Common
/*****************************************************************************/
/* Global Reset */
/* line 12, ../scss/main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 18, ../scss/main.scss */
html,
body {
  height: 106%;
}

/* line 20, ../scss/main.scss */
body {
  background-color: #fff;
  font: 13.34px "Helvetica Neue", Arial, sans-serif;
  font-size: small;
  text-align: center;
}

/* line 32, ../scss/main.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Chunk';
  line-height: 1;
  margin: auto;
}

/* line 40, ../scss/main.scss */
.subtitle {
  font-size: 1.5rem;
  line-height: 1.5;
}

/* line 45, ../scss/main.scss */
p {
  margin: 0 0 1rem 0;
}

/* line 47, ../scss/main.scss */
a {
  color: #00a;
  text-decoration: none;
}
/* line 50, ../scss/main.scss */
a:hover {
  color: #000;
}
/* line 51, ../scss/main.scss */
a:visited {
  color: #a0a;
}

/* line 54, ../scss/main.scss */
.hide {
  display: none;
}

/* line 58, ../scss/main.scss */
.highlight {
  /*
    @banderson623, sorry, i loved your yellow so i stole it.. :c)
    Interested in seeing more of brian? http://bitbyteyum.com
  */
  background-color: #ffffed;
  display: inline-block;
  text-align: center;
}

/*****************************************************************************/
/* Home
/*****************************************************************************/
/* line 71, ../scss/main.scss */
.posts {
  list-style-type: none;
  margin-bottom: 2rem;
}
/* line 74, ../scss/main.scss */
.posts li {
  line-height: 1.75rem;
}
/* line 77, ../scss/main.scss */
.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/* line 84, ../scss/main.scss */
#home {
  text-align: center;
  margin: 5rem 0;
}

/*****************************************************************************/
/* Site
/*****************************************************************************/
/* line 91, ../scss/main.scss */
.site {
  font-size: 115%;
  text-align: justify;
  width: 42rem;
  margin: 3rem auto 2rem;
  line-height: 1.5rem;
}
/* line 97, ../scss/main.scss */
.site .meta {
  color: #aaa;
}

/* line 99, ../scss/main.scss */
.header {
  text-align: center;
}
/* line 101, ../scss/main.scss */
.header a {
  font-weight: bold;
  text-decoration: none;
}
/* line 105, ../scss/main.scss */
.header .title {
  font-size: 6rem;
  display: block;
}
/* line 108, ../scss/main.scss */
.header .title a {
  color: #a00;
  -webkit-transition: color 0.15s ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition: color 0.15s ease-in-out 0;
  -o-transition: color 0.15s ease-in-out 0;
  transition: color 0.15s ease-in-out 0;
}
/* line 111, ../scss/main.scss */
.header .title a:hover {
  color: #900000;
  -webkit-transition: color 0.15s ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition: color 0.15s ease-in-out 0;
  -o-transition: color 0.15s ease-in-out 0;
  transition: color 0.15s ease-in-out 0;
}
/* line 117, ../scss/main.scss */
.header .subtitle {
  margin-bottom: 0;
  color: #666666;
}

/* line 122, ../scss/main.scss */
.site-nav {
  /*! Yea, this is graphic is from Basecamp. */
  background: url(https://basecamp.global.ssl.fastly.net/assets/wallpapers/paper-d58343f25c9bf8b2b0dcd72e25bf7644.jpg) repeat top left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: .96;
  padding: .25rem .5rem;
  border-bottom: 1px solid #ccc;
  box-shadow: inset 0 -1px 0 white;
  text-align: left;
  font-size: .8rem;
  -webkit-transition: opacity 0.15s ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition: opacity 0.15s ease-in-out 0;
  -o-transition: opacity 0.15s ease-in-out 0;
  transition: opacity 0.15s ease-in-out 0;
}
/* line 138, ../scss/main.scss */
.home .site-nav {
  padding: 0;
  border-top: 5px solid #8085C1;
  background-image: none;
  border-bottom: 0;
  box-shadow: 0 0 0 transparent;
}
/* line 148, ../scss/main.scss */
.site-nav a {
  text-shadow: 0 1px #fff;
  color: #585858;
  font-weight: normal;
}
/* line 152, ../scss/main.scss */
.site-nav a:hover {
  color: #3f3f3f;
}
/* line 154, ../scss/main.scss */
.site-nav a:hover [class*="icon-"] {
  opacity: 1;
  -webkit-transition: opacity 0.15s ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition: opacity 0.15s ease-in-out 0;
  -o-transition: opacity 0.15s ease-in-out 0;
  transition: opacity 0.15s ease-in-out 0;
}
/* line 160, ../scss/main.scss */
.site-nav a [class*="icon-"] {
  opacity: .5;
  position: relative;
  top: 1px;
  font-size: .9rem;
  -webkit-transition: opacity 0.15s ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition: opacity 0.15s ease-in-out 0;
  -o-transition: opacity 0.15s ease-in-out 0;
  transition: opacity 0.15s ease-in-out 0;
}
/* line 169, ../scss/main.scss */
.site-nav:hover {
  opacity: 1;
  -webkit-transition: opacity 0.15s ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition: opacity 0.15s ease-in-out 0;
  -o-transition: opacity 0.15s ease-in-out 0;
  transition: opacity 0.15s ease-in-out 0;
}

/* line 175, ../scss/main.scss */
.footer {
  margin-top: 5rem;
  font-size: 2rem;
  color: #666;
  text-align: center;
}
/* line 180, ../scss/main.scss */
.footer .contact {
  margin: 0 auto;
}
/* line 181, ../scss/main.scss */
.footer .social-icons {
  position: relative;
}
/* line 183, ../scss/main.scss */
.footer .social-icons a {
  color: #8085C1;
  -webkit-transition: color 0.15s ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition: color 0.15s ease-in-out 0;
  -o-transition: color 0.15s ease-in-out 0;
  transition: color 0.15s ease-in-out 0;
}
/* line 186, ../scss/main.scss */
.footer .social-icons a:first-child {
  margin: 0 1rem;
}
/* line 189, ../scss/main.scss */
.footer .social-icons a:hover {
  -webkit-transition: color 0.15s ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition: color 0.15s ease-in-out 0;
  -o-transition: color 0.15s ease-in-out 0;
  transition: color 0.15s ease-in-out 0;
  color: #484e93;
  text-decoration: none;
}
/* line 195, ../scss/main.scss */
.footer .social-icons a [class^="icon-"]:before,
.footer .social-icons a [class*=" icon-"]:before {
  position: relative;
  left: 4px;
}
/* line 200, ../scss/main.scss */
.footer .social-icons .hover-over {
  position: absolute;
  bottom: -2rem;
  left: -1.8rem;
  font-size: .8rem;
  line-height: 1.2;
  text-align: center;
  background-color: #d8d8d8;
  border: 1px solid #bbbbbb;
  border-radius: .25rem;
  padding: .4rem;
  width: 6.5rem;
  text-shadow: 0 1px 1px #fff;
  box-shadow: inset 0 0 5px rgba(204, 204, 204, 0.05);
}
/* line 214, ../scss/main.scss */
.footer .social-icons .hover-over:after {
  position: absolute;
  top: -5px;
  left: -webkit-calc(50% - 3px);
  left: calc(50% - 3px);
  content: " ";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #d8d8d8;
}
/* line 226, ../scss/main.scss */
.footer .social-icons .hover-over:before {
  content: " ";
  position: absolute;
  top: -6px;
  left: -webkit-calc(50% - 3px);
  left: calc(50% - 3px);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #bbbbbb;
}
/* line 240, ../scss/main.scss */
.footer .rss {
  margin-top: 1.1rem;
  margin-right: -.2rem;
  float: right;
}
/* line 244, ../scss/main.scss */
.footer .rss img {
  border: 0;
}

/* line 250, ../scss/main.scss */
.typekit-badge {
  display: none !important;
}

/*****************************************************************************/
/* Posts
/*****************************************************************************/
/* standard */
/* line 255, ../scss/main.scss */
.post {
  /* terminal */
}
/* line 256, ../scss/main.scss */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4rem;
}
/* line 260, ../scss/main.scss */
.post pre code {
  border: none;
}
/* line 265, ../scss/main.scss */
.post ul,
.post ol {
  margin-left: 1.35rem;
}
/* line 268, ../scss/main.scss */
.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2rem;
}
/* line 275, ../scss/main.scss */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}
/* line 279, ../scss/main.scss */
.post pre.terminal code {
  background-color: #333;
}
